.sign{
    display: block;
    width: 310px;
    height: 580px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    position: absolute;
    top:100px;
    right:80px;
}

.sign h2{
    color : #ff2626; 
}
.signin{
    margin-left: 35px;
}
.sign h{
    font-size: 13px;
    font-weight: 900;
}


.signform{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.signform input{
    width: 200px;
    height :12px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    background-color: #EFEFEF;
}
.signform input::placeholder{
    font-size: 11px;
    opacity: 40%;
}

.signform input:hover{
    border: rgb(82, 80, 80);
    outline: rgb(82, 80, 80);
}

.sign button {
    border-width: 15px;
    font-size: 15.5px;
    font-weight: 1000;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px #ccc;
    color: #333;
    background-color: white;
    border-radius: 15px;
    transition: background-color 0.5s ease;
  }
  
  .sign button:hover {
    background-color: #393838;
    color: white;
  }
  
  .sign button:active {
    background-color: #373636;
    color: white;
  }

  .logbutton button{
    font-size: 11.5px;
    padding: 9px;
}

.logbutton{
    font-weight: 800;
    color: #ff2626;
}


.signbutton{
    margin-top: 10px;
    margin-left: 50px;
    padding: 12px;
}
.signbutton button:hover{
    background-color: #ff2626;
    color: white;
}
.signbutton button:active{
    background-color: #000000;
    color: white;
}

.pas{
    display: flex;
}
.show{
    transition: color 0.5s ease;
    cursor: pointer;
}
.show:hover{
    color: red;
}